<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="QRUtils.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727" sku="Client"/></startup>
    <userSettings>
        <QRUtils.Properties.Settings>
            <setting name="MaskColor" serializeAs="String">
                <value>0, 192, 192</value>
            </setting>
            <setting name="ErrorCorrectionLevel" serializeAs="String">
                <value>M</value>
            </setting>
        </QRUtils.Properties.Settings>
    </userSettings>
</configuration>
